/* @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap'); */

.weather-details {
    display:block;
    background-color:#27737D;
    text-align: center;
    padding: 4%;
    border-radius: 10%;
    color: white;
    width: 75%;
  }

  .state-details{
    font-weight: lighter;
    margin: 0%;
  }
  
  .weather-details h2,
  .weather-details h3 {
    margin: 0%;
  }
  
  .temperature-condition h1 {
    font-size: 5em;
    margin: 0%;
    font-weight: bolder;
  }
  
  .temperature-condition h2 {
    font-size: 1.2em;
    font-weight: lighter;
  }

  .temp {
    font-size: 1.5em; 
    line-height: 1; 
    font-weight: 300; 
    text-align: center; 
  }
  
  .additional-info {
    margin-top: 5%;
    display: flex;
    justify-content: space-between; 
  }
  
  .info-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .category {
    text-align: center;
    width: 80%; 
  }
  
  .value {
    margin-left: 10px;
    display: block;
    margin-top: 2%;
    font-weight:bolder;
    
  }